html {
	height:100%;
	width:100%;
}

body {
	height:100%;
	width:100%;
}

form {
    width: 50%;
}

div#inputcontainerdiv {
    margin: 20px;
}

div.animationdiv {
    float: left;
    height: 450px;
    line-height: 450px; /* text centered verticly */
    width: 360px;
    background-color: rgb(46, 46, 46);
    text-align: center;
    color: rgb(84, 84, 84);
}

@-webkit-keyframes animation {
    0% {
        background-color: rgb(241, 241, 241);
        opacity:1;
    }
    22% {
        background-color: rgb(158, 158, 158);
    }
    77% {
        background-color: rgb(78, 78, 78);
    }
    100% {
        background-color: rgb(46, 46, 46);
    }
}

.animate {
    -webkit-animation-name: animation;
    -webkit-animation-duration: 500ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

p#twisty {
    z-index: 3;
    position: absolute;
    right: 5px;
    top: 5px;
    float: right;
    font-weight: bolder;
    color: grey;
    font-family: sans-serif;
    font-size: xx-large;
    text-align: center;
    vertical-align: top;
}